:root {
  --black: #000;
  --black10: rgba(0, 0, 0, 0.1);
  --black40: rgba(0, 0, 0, 0.4);
  --black60: rgba(0, 0, 0, 0.6);
  --white: #ffffff;
  --white20: rgba(255, 255, 255, 20%);
  --white50: rgba(255, 255, 255, 50%);
  --red10: rgba(255, 51, 51, 0.1);
  --red: #FF3333;
  --green: #01AB31;
  --product-bg: #F0EEED;

  --primary-font: "Satoshi", "San Serif";
  --secondary-font: "Integral CF", "San Serif";
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  vertical-align: middle;
  font-family: var(--primary-font);
}

button,
a {
  cursor: pointer;
  transition: all .4s;
  background-color: transparent;
  text-decoration: none;
  border: none;
  color: inherit;
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
}

li {
  list-style-type: none;
}

.absolute-center,
.fixed-center {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}