.productCard {
    position: relative;
}

.imageWrapper {
    position: relative;
    background-color: var(--product-bg);
    border-radius: 20px;
    overflow: hidden;
}

.priceInfo {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 8px;
}