:root {
  --white: #fff;
  --black: #000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  vertical-align: middle;
}

button,
a {
  cursor: pointer;
  transition: all .4s;
  background-color: transparent;
  text-decoration: none;
}

li {
  list-style-type: none;
}